<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <!--获取Student反射的无参构造-->
    <bean id="student" class="com.spring.bean.Student">
        <!--
            属性依赖注入
            property: 通过成员变量的 set 方法赋值
            name: 属性名
            value: 值
        -->
        <property name="sid" value="1001"></property>
        <property name="sname" value="张三"></property>
        <property name="age" value="23"></property>
        <property name="gender" value="男"></property>

        <!--当属性是数组的时候-->
        <property name="hobby">
            <array>
                <value>打游戏</value>
                <value>吃鸡</value>
                <value>王者</value>
            </array>
        </property>

        <!--当属性是 Map 的时候-->
        <property name="teacherMap" ref="teacherMap"></property>
        <!--<property name="teacherMap">
            <map>
                <entry key="老师1" value-ref="teacher"></entry>
                <entry key="老师2" value-ref="teacher"></entry>
            </map>
        </property>-->

        <!--当属性是个类的时候-->
        <!--
            1. 引用外部 bean
            2. 使用内部 bean
        -->
        <!--<property name="clazz" ref="clazz"></property>-->
        <property name="clazz">
            <!--内部 bean 不属于 IOC 容器-->
            <bean id="clazzInner" class="com.spring.bean.Clazz">
                <property name="cid" value="1"></property>
                <property name="cname" value="电信"></property>
            </bean>
        </property>

        <!--
            构造方法注入
            <: &lt;
            >: &gt;
            null: <null/>
        -->
        <!--<constructor-arg value="1002"></constructor-arg>
        <constructor-arg value="李四"></constructor-arg>
        <constructor-arg value="18"></constructor-arg>
        <constructor-arg value="男" name="gender"></constructor-arg>-->
    </bean>

    <bean id="clazz" class="com.spring.bean.Clazz">
        <property name="cid" value="1"></property>
        <property name="cname" value="电信"></property>
        <!--当属性是个集合的时候-->
        <property name="student" ref="studentList"></property>
        <!--<property name="student">
            <list>
                <ref bean="student"></ref>
                <ref bean="student"></ref>
                <ref bean="student"></ref>
            </list>
        </property>-->
    </bean>

    <bean id="teacher" class="com.spring.bean.Teacher">
        <property name="tid" value="111"></property>
        <property name="tname" value="老师"></property>
    </bean>

    <util:list id="studentList">
        <ref bean="student"></ref>
        <ref bean="student"></ref>
        <ref bean="student"></ref>
    </util:list>

    <util:map id="teacherMap">
        <entry key="老师1" value-ref="teacher"></entry>
        <entry key="老师1" value-ref="teacher"></entry>
    </util:map>

</beans>