<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.DynamicSQLMapper">

    <resultMap id="empResultMap" type="Emp">
        <id column="emp_id" property="empId"></id>
        <result column="emp_name" property="empName"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
    </resultMap>

    <!--
        动态SQL 多条件查询
        if: 通过 test 属性中的表达式判断标签中的内容是否生效
        where:
            若标签中的内容成立会自动添加 where 关键字
            去掉标签中 内容前的 and 关键字
        trim:
            prefix, suffix: 在标签中前面后后面添加指定内容
            prefixOverrides, suffixOverrides: 在标签中前面后后面删除指定内容
        choose, when, otherwise
            相当于 if ... else ...
            when设置至少一个 otherwise最多一个。最终只有一条语句生效
        foreach
            collection: 循环的集合
            item: 集合个体
            separator: 循环间的分隔符
            open: 循环内容的开头
            close: 循环内容的结尾
        sql: 可以记录一段 sql
            id: 唯一标识
            <include refid="empColumns"> 使用
    -->
    <sql id="empColumns">
        emp_id, emp_name, age, gender, dept_id
    </sql>
    <select id="getEmpByCondition" resultMap="empResultMap">
        select <include refid="empColumns"></include> from t_emp
        <where>
            <if test="empName != null and empName != ''">
                emp_name = #{empName}
            </if>
            <if test="age != null and age != ''">
                and age = #{age}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
        </where>
    </select>

    <!--void insertMoreEmp(@Param("emps") List<Emp> emps);-->
    <insert id="insertMoreEmp">
        insert into t_emp values
        <foreach collection="emps" item="emp" separator=",">
            (null, #{emp.empName}, #{emp.age}, #{emp.gender}, null)
        </foreach>
    </insert>
</mapper>